* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #323232;
    color: #eaeaea;
  }
  
  body {
    padding: 60px;
  }
  
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }
  
  button {
    background-color: #12A5BC;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
  }

  button:hover {
    background-color: #0f8da1;
  }

  .center {
    text-align: center;
  }
  
